pandas>=2.2
numpy>=1.26
matplotlib>=3.9
seaborn>=0.13
scikit-learn>=1.5
scipy>=1.13
requests
networkx
statsmodels
gseapy
anndata
scanpy
pydeseq2
pyarrow
pyliftover
feedparser
scholarly
beautifulsoup4
primer3-py
rdkit
biopython
pysam
